<table id="results" style="width:100%;">
    <tbody>
  <% results = Result.find_all_by_desc(result_type) %>
  <p>Found <%= results.size %> place(s): </p>
  <% results.each do |item| %>
    <tr>
      <td style="width:100%;">
      <fieldset class="ui-corner-all ui-widget ui-widget-content " style="margin:10px;">
        <legend>   <h4 style="width:800px; " class=" ui-corner-all ui-widget-header"> <%=link_to "#{item["location"]}", "#{item.href}", 
          :target => "_blank", :style=>"text-decoration:none;" %> </h4>
        </legend>
        <table style="width:100%;">
          <tr>
            <td style="width:85%;">
              <span style="color:gray;">`
                <a href="<%= item.href %>" data-geo="data-geo" target="_blank"><%= item["address"] %></a>
              </span>
              <br />
              <table style="width:80%;">
                <tr >
                    <hr style="width:600px;">
                  <td>
                    <%= link_to  "#{item.source}", item.href  , :target =>"_blank", :style=> "text-color:light-blue; text-decoration:none;"%>
                  </td>
                  <td>
                    <p> <strong><%= item["price"] %> </strong> </p>
                </td>
                  <td>
                    <%= link_to "reserve", item.href %>
                  </td>
                </tr>
              </table>
            </td>
            <td style="width:15%;" class="">
              <% if item["urlimage"].nil? %>
                <%= image_tag("/default.jpg", :size=>"100x100")%> 
              <% else %>
                <%= image_tag(item["urlimage"], :size=>"100x100")%> 
              <% end %>
            </td>
        </table>
      </fieldset>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
 
