<!-- this is the css for the results -->

<%= include_gon(:init => true) %>
<style type"text/css">

ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    font-family: georgia;
	font-size:14px;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
    background: #FF9500;	
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}
  <--
.found-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-left:20px;
	color:#4b4b4b;
}

-->

 body {
	
	height: auto; 
  
	background-image: url(../images/bg_color.png);
	background-repeat: repeat-x;
}
</style>
 <script>
   $(function() {
    $( "#tabs" ).tabs();
  });
  $(document).ready(function() {
      
      
      $(".place_info").hover(
        function () {
          $(this).animate({ boxShadow: '0 0 30px #44f'  });
        },
        function () {
          $(this).animate({ boxShadow: '0 0 10px #000'} );
        }
      );
      $(".ui-icon-circle-close").click(function() {
        $(this).parent().fadeOut();
      });
      $("ul.pagination1").quickPagination({ pageSize:"18"});
    
    });
</script>
<!-- end css for the results -->

<div id="results" title="<%#=@req.id%>" name="no">
  <% @allresults = @list.group_by{ |s| [s.latitude, s.longitude]}%>             
  <%# @allresults = @req.results.group_by{ |s| [s.latitude, s.longitude]} %>
        <br />
        <ul class="pagination1" style="list-style-type: none; ">
        <h4> <%= @allresults.size %> place(s) found </h4>
          <% @allresults.each do |hash| %>
            <li >
            <fieldset class="place_info ui-corner-all ui-widget ui-widget-content " style="margin:10px; box-shadow: 0 0 10px #000000;">
                    
  <span class="ui-icon ui-icon-circle-close" style="float:right;"> </span>
<%
=begin
%>
              <legend >
                <table style="width:800px;" >
                  <tr>
                    <td style="width:40%;">
                      <h4 style="; " class=" ui-corner-all ui-widget-header"> <%=link_to "#{hash[1].first.location}", "#", 
                        :target => "_blank", :style=>"text-decoration:none;" %> </h4>
                    </td>
                    
                  </tr>
              </table>
        </legend>

<%
=end
%>
        <table style="width:100%;">
            <tr>
              <td style="width:85%;">
                <table style="width:100%;" >
                  <tr>
                    <td style="width:50%;">

                <h4 style="float:left" class=" ui-corner-all ui-widget-header"> <%=link_to "#{hash[1].first.location}", "#", 
                        :target => "_blank", :style=>"text-decoration:none;" %> </h4>
                    </td>
                    <td style="width:50%;">  
                      <span style="float:left; color:gray;"> <%=  "#{hash[1].first.address}" %> </span>      
                    </td>
                  </tr>
                  </table>
                      <table style="width:100%;">
                  <% hash[1].each do |place| %>
                  <tr >
                    <td style="width:60%;">
                      <%= link_to  "#{place.source}.com", place.href  , :target =>"_blank", :style=> "text-color:light-blue; text-decoration:none;"%>
                    </td>
                    <td style="width:20%;">
                      <% if  place["price"] == nil %>
                        <p> <strong> n/a </strong> </p>
                      <% else%>
                        <p> <strong><%= place["price"] %> </strong> </p>
                      <% end %>
                    </td>
                    <td style="width:20%;">
                      <%= link_to "reserve", place.href , :target =>"_blank" %>
                    </td>
                  </tr>
                <% end %>
                </table>
              </td>

              <td style="width:15%;" class="">
                <% urlimage = "default.jpg" %>
                <% hash[1].each do |place| %>
                  <% if place.urlimage != nil %>
                    <% urlimage = place.urlimage %>
                  <% end %>
                <% end %>
                <%= image_tag("#{urlimage}", :size=>"100x100")%> 
              
              </td>
              </tr>
            </table>
        </fieldset>
   
        </li>
        <% end %>
        </ul>    

        </div>

        
      
      <br />
  <br />
  
<%
=begin
%>
 <div id="tabs" style="z-index:1;">
      <ul>
        <li><a href="#tabs-1">Group by location</a></li>
        <li><a href="#tabs-2">Group by source</a></li>
      </ul>
      <div id="tabs-1">
             <div id="tabs-2">
        <% @allresults = @req.results.group_by{ |s| [s.source]} %>
        <p> <%= @allresults.size %> source(s) </p>
        <ul class="pagination1" style="list-style-type: none; ">
          <% @allresults.each do |hash| %>
            <li >
            <fieldset class="ui-corner-all ui-widget ui-widget-content " style="margin:10px; ">
          <legend>   <h4 style="width:800px; " class=" ui-corner-all ui-widget-header"> <%=link_to "#{hash[1].first.source}", "#", 
            :target => "_blank", :style=>"text-decoration:none;" %> </h4>
          </legend>
          <table style="width:100%;">
            <tr>
              <td style="width:95%;">
                                <br />
                <hr style="width:600px;">
                <table style="width:100%;">
                  <% hash[1].each do |place| %>
                  <tr >
                    <td>
                      <%= link_to  "#{place.location}", place.href  , :target =>"_blank", :style=> "text-color:light-blue; text-decoration:none;"%>
                    </td>
                    <td>
                      <p> <strong><%= place.address %> </strong> </p>
                    </td>
                    <td>
                      <p> <strong><%= place["price"] %> </strong> </p>
                    </td>
                    
                    <td>
                      <%= link_to "reserve", place.href , :target =>"_blank" %>
                    </td>
                  </tr>
                <% end %>
                </table>
              </td>
                            </tr>
            </table>
        </fieldset>
   
        </li>
        <% end %>
        </ul>    
        <br />

      </div>
      </div> 

<table id="results" >
    <tbody>
  <% results = Result.find_all_by_desc(result_type) %>
    
  <p><%= results.size %> Parking Location(s) Found</p>
  <% results.each do |item| %>
    <tr>
      <td>
      <fieldset class="ui-corner-all ui-widget ui-widget-content " style="margin:10px;">
        <legend>   <h4 style="width:800px; " class=" ui-corner-all ui-widget-header"> <%=link_to "#{item["location"]}", "#{item.href}", 
          :target => "_blank", :style=>"text-decoration:none;" %> </h4>
        </legend>
        <table style="width:100%;">
          <tr>
            <td style="width:85%;">
              <span style="color:gray;">
                <a href="<%= item.href %>" data-geo="data-geo" target="_blank"><%= item["address"] %></a>
              </span>
              <br />
                <hr style="width:600px;">
              <table style="width:80%;">
                <tr >
                  <td>
                    <%= link_to  "#{item.source}", item.href  , :target =>"_blank", :style=> "text-color:light-blue; text-decoration:none;"%>
                  </td>
                  <td>
                    <p> <strong><%= item["price"] %> </strong> </p>
                </td>
                  <td>
                    <%= link_to "reserve", item.href, :style=>"text-decoration:none;", :class=>"button" %>
                  </td>
                </tr>
              </table>
            </td>
            <td style="width:15%;" class="">
              <% if item["urlimage"].nil? %>
                <%= image_tag("/default.jpg", :size=>"100x100")%> 
              <% else %>
                <%= image_tag(item["urlimage"], :size=>"100x100")%> 
              <% end %>
            </td>
        </table>
      </fieldset>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
 <fieldset class="ui-corner-all ui-widget ui-widget-content " style="margin:10px; ">
          <legend>Log</legend>
              <%= @req.desc %>
       </fieldset>
 
<%
=end
%>
