<script>

  
  $(document).ready(function() {
      $('#findbtn').click(function(){
        var wherebox, city, short_name
        wherebox = $('#wherebox_airp').val();
        short_name = wherebox.split(" (")[1].replace(")","")
        city = wherebox.split(" (")[0].replace(" ","-")
        from = $('#from').val();
        to = $('#to').val();
        time_start = $('#Items').val();
        time_end = $('#Items2').val();
        if ($('#parkingconnection').is(':checked')) {
          url="http://www.parkingconnection.com/locations/" + city + "-" + short_name + "-airport-parking/?dpnLocations=" + short_name + "&txtCheckinDt=" + from +"&dpnCheckInTime=" + time_start + "&txtCheckoutDt=" + to + "&dpnCheckOutTime=" + time_end +"&UnitID&FacilityID&sendbutton2"
          //window.open(url1, 'window name', 'window settings');
           $('#parkingconnection_link').click(function(){
                   window.open(url, 'blank1');
          });
          $('#parkingconnection_link').click();

        }
        if ($('#pnf').is(':checked')) {
         
        <% airportparking_list = YAML.load(File.open("output.yml")) %>
        var airportparking_source = <%=raw airportparking_list.to_json %>
         
     //    url="https://www.airportparking.com/airports/" + airportparking_source[short_name]
   // $().redirect('demo.php?arg1=value1&arg2=value2');
     $().redirect('http://www.airportparkingreservations.com/search/pre_search_results', {'search[airport_id]': 'Albany (ALB)', 'search[checkindate]': '05/18/2013', 'search[checkintime]': '12:00', 'search[checkoutdate]': '05/21/2013', 'search[checkouttime]': '12:00', 'search[number_cars]': '1', 'APR_ENVIRONMENT': 'live', 'APR_USER_TYPE': 'guest'});
         //url="http://www.parkingconnection.com/locations/" + city + "-" + short_name + "-airport-parking/?dpnLocations=" + short_name + "&txtCheckinDt=" + from +"&dpnCheckInTime=" + time_start + "&txtCheckoutDt=" + to + "&dpnCheckOutTime=" + time_end +"&UnitID&FacilityID&sendbutton2"
          //window.open(url1, 'window name', 'window settings');
       //    $('#airportparking_link').click(function(){
        //           window.open(url, 'blank1');
        //  });
         // $('#airportparking_link').click();

        }
      });
   });
</script>
<div id="content">
       <h1>one search 
    <span style="color: #024986">CONNECTS</span>
    all.</h1>
    <p>Compare multiple parking sites at once.
    Choose where to park at the best rate.</p>
    <div class="iframefb">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fparkingconnect&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></div>
      <a href="https://twitter.com/parking_connect" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @parking_connect</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!-- end content -->
    <div id="searchbox">
  <div class="toggler" style="position:fixed; top:100px; right:100px;">
    <div id="effect" class="ui-widget-content ui-corner-all" style="display:none;">
  </div>
</div>
    <div id="navselected" style="margin-left:612px;"></div><!-- end navselected -->
    <div id="formbox"><form action="/airport_search.js" method="get" data-remote='true'>
      <label for="wherebox"><h1>Where</h1></label>
        <input type="text" name="wherebox_airp" id="wherebox_airp" tabindex="1" />
        <p>enter airport name or code</p>
        <input type="hidden" name="wherebox_airp_full" id="wherebox_airp_full" tabindex="1" value="" />
        
    </div><!-- end formbox -->
         <div id="formbox2">
<h1>When</h1>
  <label for="from"></label>
  <div id="fromlabel">
  <h1>Parking Arrival</h1>
  </div><!-- end fromlabel -->
  <div id="untillabel">
  <h1>Parking Return</h1>
  </div><!-- end untillabel -->
  <div id="leftbox">
    <input type="text" id="from" name="from" />
    <div id="fieldSubLabel">mm/dd/yyyy</div>
  </div><!-- end left box -->
   <div id="lefttimebox">
	<select name="Items" id="Items">
<option selected value="12:00am">12:00 am</option>
<option value="12:30am">12:30 am</option>
<option value="1:00am">1:00 am</option>
<option value="1:30am">1:30 am</option>
<option value="2:00am">2:00 am</option>
<option value="2:30am">2:30 am</option>
<option value="3:00am">3:00 am</option>
<option value="3:30am">3:30 am</option>
<option value="4:00am">4:00 am</option>
<option value="4:30am">4:30 am</option>
<option value="5:00am">5:00 am</option>
<option value="5:30am">5:30 am</option>
<option value="6:00am">6:00 am</option>
<option value="6:30am">6:30 am</option>
<option value="7:00am">7:00 am</option>
<option value="7:30am">7:30 am</option>
<option value="8:00am">8:00 am</option>
<option value="8:30am">8:30 am</option>
<option value="9:00am">9:00 am</option>
<option value="9:30am">9:30 am</option>
<option value="10:00am">10:00 am</option>
<option value="10:30am">10:30 am</option>
<option value="11:00am">11:00 am</option>
<option value="11:30am">11:30 am</option>
<option value="12:00pm">12:00 pm</option>
<option value="12:30pm">12:30 pm</option>
<option value="1:00pm">1:00 pm</option>
<option value="1:30pm">1:30 pm</option>
<option value="2:00pm">2:00 pm</option>
<option value="2:30pm">2:30 pm</option>
<option value="3:00pm">3:00 pm</option>
<option value="3:30pm">3:30 pm</option>
<option value="4:00pm">4:00 pm</option>
<option value="4:30pm">4:30 pm</option>
<option value="5:00pm">5:00 pm</option>
<option value="5:30pm">5:30 pm</option>
<option value="6:00pm">6:00 pm</option>
<option value="6:30pm">6:30 pm</option>
<option value="7:00pm">7:00 pm</option>
<option value="7:30pm">7:30 pm</option>
<option value="8:00pm">8:00 pm</option>
<option value="8:30pm">8:30 pm</option>
<option value="9:00pm">9:00 pm</option>
<option value="9:30pm">9:30 pm</option> 
<option value="10:00pm">10:00 pm</option>
<option value="10:30pm">10:30 pm</option>
<option value="11:00pm">11:00 pm</option>
<option value="11:30pm">11:30 pm</option>	
	</select>
  </div><!-- end timebox left -->
  <div id="rightbox">
    <label for="to"></label>
    <input type="text" id="to" name="to" />
    <div id="fieldSubLabel">mm/dd/yyyy</div>
    </div> <!-- end rightbox -->
     <div id="righttimebox">
	<select name="Items2" id="Items2">
    <option selected value="12:00am">12:00 am</option>
<option value="12:30am">12:30 am</option>
<option value="1:00am">1:00 am</option>
<option value="1:30am">1:30 am</option>
<option value="2:00am">2:00 am</option>
<option value="2:30am">2:30 am</option>
<option value="3:00am">3:00 am</option>
<option value="3:30am">3:30 am</option>
<option value="4:00am">4:00 am</option>
<option value="4:30am">4:30 am</option>
<option value="5:00am">5:00 am</option>
<option value="5:30am">5:30 am</option>
<option value="6:00am">6:00 am</option>
<option value="6:30am">6:30 am</option>
<option value="7:00am">7:00 am</option>
<option value="7:30am">7:30 am</option>
<option value="8:00am">8:00 am</option>
<option value="8:30am">8:30 am</option>
<option value="9:00am">9:00 am</option>
<option value="9:30am">9:30 am</option>
<option value="10:00am">10:00 am</option>
<option value="10:30am">10:30 am</option>
<option value="11:00am">11:00 am</option>
<option value="11:30am">11:30 am</option>
<option value="12:00pm">12:00 pm</option>
<option value="12:30pm">12:30 pm</option>
<option value="1:00pm">1:00 pm</option>
<option value="1:30pm">1:30 pm</option>
<option value="2:00pm">2:00 pm</option>
<option value="2:30pm">2:30 pm</option>
<option value="3:00pm">3:00 pm</option>
<option value="3:30pm">3:30 pm</option>
<option value="4:00pm">4:00 pm</option>
<option value="4:30pm">4:30 pm</option>
<option value="5:00pm">5:00 pm</option>
<option value="5:30pm">5:30 pm</option>
<option value="6:00pm">6:00 pm</option>
<option value="6:30pm">6:30 pm</option>
<option value="7:00pm">7:00 pm</option>
<option value="7:30pm">7:30 pm</option>
<option value="8:00pm">8:00 pm</option>
<option value="8:30pm">8:30 pm</option>
<option value="9:00pm">9:00 pm</option>
<option value="9:30pm">9:30 pm</option> 
<option value="10:00pm">10:00 pm</option>
<option value="10:30pm">10:30 pm</option>
<option value="11:00pm">11:00 pm</option>
<option value="11:30pm">11:30 pm</option>	
	</select>
  </div><!-- end timebox left -->
  <br/>
  <br/>
  <br/>
  <br/>
  <p>Choose Sites to Compare vs. ParkingConnects (new windows)  </p>
  <hr>
  <table style="width:95%;">
    <tr>
      <td>
        <%= check_box_tag("parkingconnection", value = "1", checked = true, options = {})%>
        <%= label_tag "parkingconnection" %>
        <div id="parkingconnection_link" style="display:none;"> </div>
      </td>
    <td>
        <%= check_box_tag("pnf", value = "1", checked = true, options = {})%>
        <%= label_tag "pnf" %>
        <div id="pnf_link" style="display:none;"> </div>
      </td>
      <td>
      </td>
      
      <td>
      </td>
    </tr>
          </table>

</div><!-- end formbox2 -->

<div id="formbox3">
      <div id="findbtn">
        <input type="submit" class="button2"/></button>
      </div><!-- end findparkingbtn -->
    </div>
  </form>
  
  <div id="search_results"></div>
  </div><!-- end searchbox -->


