    <div id="content">
       <h1>one search 
    <span style="color: #024986">CONNECTS</span>
    all.</h1>
    <p>Compare multiple parking sites at once.
    Choose where to park at the best rate.</p>
    <div class="iframefb">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fparkingconnect&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></div>
      <a href="https://twitter.com/parking_connect" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @parking_connect</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!-- end content -->
    <div id="searchbox">
    <div id="navselected" style="margin-left:398px;"></div><!-- end navselected -->
    <div id="formbox"><form action="" method="get">
      <label for="wherebox"><h1>Where</h1></label>
        <input type="text" name="wherebox" id="wherebox" tabindex="1" />
        <p>enter city, address, or landmark</p>
    </form>
    </div><!-- end formbox -->
    <div id="formbox2">
<h1>When</h1>
  <label for="from"></label>
  <div id="fromlabel">
  <h1>From</h1>
  </div><!-- end fromlabel -->
  <div id="untillabel">
  <h1>Until</h1>
  </div><!-- end untillabel -->
  <div id="leftbox">
    <input type="text" id="from" name="from" />
    <div id="fieldSubLabel">mm/dd/yyyy</div>
  </div><!-- end left box -->
   <div id="lefttimebox">
	<select name="Items" id="Items">
<option selected value="base">Anytime</option>
<option value="24">12:00 am</option>
<option value="24">12:30 am</option>
<option value="1">1:00 am</option>
<option value="1">1:30 am</option>
<option value="2">2:00 am</option>
<option value="2">2:30 am</option>
<option value="3">3:00 am</option>
<option value="3">3:30 am</option>
<option value="4">4:00 am</option>
<option value="4">4:30 am</option>
<option value="5">5:00 am</option>
<option value="5">5:30 am</option>
<option value="6">6:00 am</option>
<option value="6">6:30 am</option>
<option value="7">7:00 am</option>
<option value="7">7:30 am</option>
<option value="8">8:00 am</option>
<option value="8">8:30 am</option>
<option value="9">9:00 am</option>
<option value="9">9:30 am</option>
<option value="10">10:00 am</option>
<option value="10">10:30 am</option>
<option value="11">11:00 am</option>
<option value="11">11:30 am</option>
<option value="12">12:00 pm</option>
<option value="12">12:30 pm</option>
<option value="13">1:00 pm</option>
<option value="13">1:30 pm</option>
<option value="14">2:00 pm</option>
<option value="14">2:30 pm</option>
<option value="15">3:00 pm</option>
<option value="15">3:30 pm</option>
<option value="16">4:00 pm</option>
<option value="16">4:30 pm</option>
<option value="17">5:00 pm</option>
<option value="17">5:30 pm</option>
<option value="18">6:00 pm</option>
<option value="18">6:30 pm</option>
<option value="19">7:00 pm</option>
<option value="19">7:30 pm</option>
<option value="20">8:00 pm</option>
<option value="20">8:30 pm</option>
<option value="21">9:00 pm</option>
<option value="21">9:30 pm</option> 
<option value="22">10:00 pm</option>
<option value="22">10:30 pm</option>
<option value="23">11:00 pm</option>
<option value="23">11:30 pm</option>	
	</select>
  </div><!-- end timebox left -->
  <div id="rightbox">
    <label for="to"></label>
    <input type="text" id="to" name="to" />
    <div id="fieldSubLabel">mm/dd/yyyy</div>
    </div> <!-- end rightbox -->
     <div id="righttimebox">
	<select name="Items2" id="Items2">
<option selected value="base">Anytime</option>
<option value="24">12:00 am</option>
<option value="24">12:30 am</option>
<option value="1">1:00 am</option>
<option value="1">1:30 am</option>
<option value="2">2:00 am</option>
<option value="2">2:30 am</option>
<option value="3">3:00 am</option>
<option value="3">3:30 am</option>
<option value="4">4:00 am</option>
<option value="4">4:30 am</option>
<option value="5">5:00 am</option>
<option value="5">5:30 am</option>
<option value="6">6:00 am</option>
<option value="6">6:30 am</option>
<option value="7">7:00 am</option>
<option value="7">7:30 am</option>
<option value="8">8:00 am</option>
<option value="8">8:30 am</option>
<option value="9">9:00 am</option>
<option value="9">9:30 am</option>
<option value="10">10:00 am</option>
<option value="10">10:30 am</option>
<option value="11">11:00 am</option>
<option value="11">11:30 am</option>
<option value="12">12:00 pm</option>
<option value="12">12:30 pm</option>
<option value="13">1:00 pm</option>
<option value="13">1:30 pm</option>
<option value="14">2:00 pm</option>
<option value="14">2:30 pm</option>
<option value="15">3:00 pm</option>
<option value="15">3:30 pm</option>
<option value="16">4:00 pm</option>
<option value="16">4:30 pm</option>
<option value="17">5:00 pm</option>
<option value="17">5:30 pm</option>
<option value="18">6:00 pm</option>
<option value="18">6:30 pm</option>
<option value="19">7:00 pm</option>
<option value="19">7:30 pm</option>
<option value="20">8:00 pm</option>
<option value="20">8:30 pm</option>
<option value="21">9:00 pm</option>
<option value="21">9:30 pm</option> 
<option value="22">10:00 pm</option>
<option value="22">10:30 pm</option>
<option value="23">11:00 pm</option>
<option value="23">11:30 pm</option>	
	</select>
  </div><!-- end timebox left -->
<br/>
  <hr>
  <table style="width:95%;">
    <tr>
      <td>
        <%= check_box_tag("airportparkingreservations", value = "1", checked = true, options = {})%>
        <%= label_tag "airportparkingreservations" %>
      </td>
      <td>
        <%= check_box_tag("airportparking", value = "1", checked = true, options = {})%>
        <%= label_tag "airportparking" %>
      </td>
      <td>
        <%= check_box_tag("pnf", value = "1", checked = true, options = {})%>
        <%= label_tag "pnf" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= check_box_tag("aboutairportparking", value = "1", checked = true, options = {})%>
        <%= label_tag "aboutairportparking" %>
      </td>
      <td>
        <%= check_box_tag("parkingconnection", value = "1", checked = true, options = {})%>
        <%= label_tag "parkingconnection" %>
      </td>
      </tr>
      </table>


</div><!-- end formbox2 -->

<div id="formbox3">

	<div id="findbtn">
<button type="submit" class="button2"/></button>
	</div><!-- end findparkingbtn -->
</div><!-- end formbox3 -->
    </div><!-- end searchbox -->

