<!DOCTYPE html>
<html>
<head>
  <title>ParkStage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Compare multiple parking sites at once. Choose where to park at the best rate." />
    <meta name="keywords" content="Parking, cheap parking, hotel parking, parking rates, rates, daily parking, monthly parking, airport parking, event parking, compare parking rates, cheap parking rates, cheap daily parking, cheap monthly parking, cheap airport parking, parking reservations, discount parking, parking deals, find parking prices, san francisco, new york, chicago, boston, baltimore" />
<title>ParkingCONNECT - Cheap Parking, Daily Parking, Monthly Parking, Airport Parking, Compare Parking Rates</title>
<script type="text/xml">
<!--
<oa:widgets>
  <oa:widget wid="2149022" binding="#OAWidget" />
</oa:widgets>
-->
</script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<link href="/css/pc.css" rel="stylesheet" type="text/css" />
<link href="/css/loginbox.css" rel="stylesheet" type="text/css" />
<link href="/css/dailybox.css" rel="stylesheet" type="text/css" />
<link href="/css/datestyle.css" rel="stylesheet" type="text/css" />
<link href="/css/timebox.css" rel="stylesheet" type="text/css" />
<link href="/css/compare.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="javascript/lightbox.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/datepicker.js"></script>


<style>
  .ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  #city { width: 25em; }
  </style>
 <script>
  $(function() {
    $( ".button" )
      .button()
        });
  </script>
  <script>
  $(function() {
    
    $(".loginform").validate({
  rules: {
    field: {
      required: true,
      email: true
    }
  }
});
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#wherebox" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://ws.geonames.org/searchJSON?country=US",
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            response( $.map( data.geonames, function( item ) {
              return {
                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
  </script>
  <script>
    $(document).ready(function() {

    });
  $(function() {
    $("#email_submit").click(function() {
      $(".result").hide();
      return false;
    });
    
    $( ".datepicker" ).datepicker({
    });
  });
  </script>
  <%= yield :head %>
</head>
<body>
<div id="container">
 <div id="header">
    <div id="pc-logo"><a href="/" title="Parking CONNECT" target="_self" id="pc-logo">ParkingConnect</a> </div><!-- end logo -->
    <div id="navbar">
   	  <ul>
   	    <li><a href="/home.html" title="Daily Parking" 		target="_self">Daily</a></li>
		<li><a href="/monthly.html" title="Monthly Parking" target="_self">Monthly</a></li>
		<li><a href="/airport.html" title="Airport Parking" target="_self">Airport</a></li>
	  </ul>
    </div><!-- end navbar -->
          <div id="navright">
      <ul>
        <li><a href="#" class="lightbox" name="box1">Login</a><div class="backdrop"></div>
	<div class="box1 box" style="display:none;"><div class="close" name="box1">X</div>
    <h1>Login section coming soon!</h1><p>Our Login page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
  
    <form class="loginform" action="/contacts" method="post" data-remote='true'>

  <input type="text" id="myname" name="contact[email]"  class="required email" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
<p class="result" style="display:none;">
  Thanks, your email have been added
</p>
  <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
       <li><a href="#" class="lightbox" name="box2">My Trips</a><div class="backdrop"></div>
	<div class="box2 box" style="display:none;"><div class="close" name="box2">X</div>
    <h1>My Trips section coming soon!</h1><p>Our My Trips page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
     <form class="loginform" action="/contacts" method="post" data-remote='true'>

  <input type="text" id="myname" name="contact[email]"  class="required email" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
<p class="result" style="display:none;">
  Thanks, your email have been added
</p>

       <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
      </ul>
    </div><!-- end navright -->
  </div><!-- end header -->
  <div id="main">
    <%= yield %>
      </div><!-- end main -->
     <div id="footer">
      <div id="footnav">
        <ul>
          <li><a href="/about.html" title="About Us" target="_self">About</a> |</li>
          <li><a href="/privacy.html" title="Privacy" target="_self">Privacy</a> |</li>
          <li><a href="/destinations.html" title="Parking Destinations" target="_self">Destinations</a></li>
        </ul>
      </div><!-- end footnav -->
      <div id="copyright">
      <p>© 2012 ParkingCONNECT.com</p>
      </div><!-- end copyright -->
    </div><!-- end footer -->

       
  </div>
</body>
</html>
